<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dealzhub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googleauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.298300377700-i751vk6l07afs2hbmrggp8oo2ppgvldo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to your media library to select media files for your store and product listings.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to take photos for your store and product listings.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to your documents to select files for your store and product listings.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location to show nearby stores and provide location-based services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your location to show nearby stores even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to show nearby stores and provide personalized services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to record videos with audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to save photos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select images for your store and product listings.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
