<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298300377700-i751vk6l07afs2hbmrggp8oo2ppgvldo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298300377700-i751vk6l07afs2hbmrggp8oo2ppgvldo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298300377700-4pj39s4eada9ff7tqrhrf1o3baojd62t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlzpq3-CrbCdUOMjZJ076yu_vOjwR5ROo</string>
	<key>GCM_SENDER_ID</key>
	<string>298300377700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ThekkanVendor</string>
	<key>PROJECT_ID</key>
	<string>thekkan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>thekkan-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298300377700:ios:6222c3cd52d65f273b2d71</string>
</dict>
</plist>